<div class="headers">
  <div class="containers">
    <a href="/" alt="Home" title="Home">
    <img src="http://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/cloud.svg"></a>
    <h1>Registered Emails</h1>
  </div>
</div>

<div class="signups">
  <div class="container">
  
    <!-- Your code here -->
    <% @signups.each do |signup| %> 
 		<div class="signup"> 
  		<p class="email"><%= signup.email %></p> 
		</div> 
		<% end %>
     <%= link_to 'New Signup', "/" %>
  </div>
</div>